@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@keyframes slideFromTop {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.animate-dialog {
    /* Nice cubic besier eased animation */
    animation: slideFromTop 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes backdropAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-backdrop {
    /* Nice cubic besier eased animation */
    animation: backdropAnimation 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.btn {
    @apply rounded-xl;
}

.btn-pad {
    @apply py-3 px-4;
}

.btn.btn-primary {
    @apply bg-ens-light-blue-primary dark:bg-ens-dark-blue-primary text-ens-light-text-accent dark:text-ens-dark-text-accent;
}

.btn.btn-secondary {
    @apply bg-ens-light-blue-surface text-ens-light-blue-dim dark:bg-ens-dark-blue-surface dark:text-ens-dark-blue-dim;
}

.btn.btn-outline {
    @apply border border-ens-light-border dark:border-ens-dark-border;
}

.btn.btn-disabled {
    @apply bg-ens-light-background-disabled dark:bg-ens-dark-background-disabled text-ens-light-text-disabled dark:text-ens-dark-text-disabled;
}

.btn.btn-full {
    @apply w-full;
}

.card {
    @apply bg-ens-light-background-primary dark:bg-ens-dark-background-primary border-ens-light-border dark:border-ens-dark-border border rounded-2xl;
}

.input {
    @apply border bg-ens-light-background-primary dark:bg-ens-dark-background-primary border-ens-light-border dark:border-ens-dark-border pl-9 rounded-md py-2 w-full;
}

